{% extends "master.html" %}
{% block content %}
<style>
.yellow {
	color: #FFFF33;
}
</style>
<p>
	<table border="0" cellpadding="10" cellspacing="5">
		<tr><td class="yellow"><big><b>Question:</b></big></td> <td class="yellow"><big> {{question}} </big></td></tr>
		<tr><td class="yellow"><big><b>SQL code:</b></big></td> <td class="yellow"><big> {{sql_query}} </big></td></tr>
		<tr><td class="yellow"><big><b>Execution result: &nbsp &nbsp</b></big></td> <td class="yellow"><big> {{result}} </big></td></tr>
    </table>
</p>
    
{% endblock %}
