<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>NLP2SQL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Natural Language Database Queries</h1>
        </header>

        <p><big>Below is a table of Seattle Seahawks' games in 1991. Ask a question from this table:
        </big></p>

        <form method="get" action="/go">
            <input type="text" name="question" placeholder="Please enter a question">
            <button type="submit" name="push">Submit</button>
        </form>

        <br><br><br>
        {% block content %}
        <p>
            <h3>Questions you may ask:</h3>
            <ul>
                {% for q in questions %}
                    <li><big>{{ q }}</big></li>
                {% endfor %}
            </ul>
        </p>
        {% endblock %}
        <br>

        <table border="1" cellpadding="10" cellspacing="5">
            <tr>
                {% for d in header %}
                    <th><big>{{ d }}</big></th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <tr>
                {% for d in row %}
                    <td><big>{{ d }}</big></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <p><big>
            Fun facts:
            <ul>
                <li>Model inputs: question + table column headers (no content)</li>
                <li>This table is from the test set (it is not one that the model is trained on).</li>
            </ul>
        </big></p>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

    </body>
</html>
